@import "Reset";

.navbar {
    min-height: 150px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 3rem;
}

.content {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    font-size: 1.5rem;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.nav-link {
   color: white; 
   text-decoration: none;
}

h2 {
    font-size: 2.5rem;
    margin: 1rem;
}

.card {
    width: 500px;
    margin: 2rem;
    border: 1px solid black;
    border-radius: 15px;
    padding: 1.5rem;
    box-sizing: border-box;
}

.product {
    width: 100%;
    object-fit: contain;
}

.quantity {
    display: flex;
    justify-content: space-between;
    max-width: 100px;
}