.shop {
    height: 90vh;
    min-height: 700px;
	display: flex;
    box-sizing: border-box;
    background: linear-gradient(to top, rgb(192, 139, 118), white);
    
}

.products {
	display: flex;
	flex-flow: column wrap;
	box-sizing: border-box;
    flex: 3 300px;
    border-right: 2px solid black;
    justify-content: center;
    align-items: center;
}

.cart {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	flex: 2 200px;
}

@media (max-width: 767px) {
    .shop {
        flex-direction: column;
        height: fit-content;
        overflow: hidden;
    }

    .products {
        border-right: 0;
        flex-wrap: nowrap;
        border-bottom: 2px solid black;
        flex: 0;
        height: fit-content;
        padding: 1rem 0;
    }

    .cart {
        flex: 0;
        height: fit-content;
        height: 400px;
    }
}
